@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-courier: var(--font-courier);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-courier), ui-monospace, monospace;
}

h1 {
  color: #536942; 
  font-weight: bold;
}

h1.hero-title {
  color: white; 
  font-weight: bold;
}

h2.hero-subtitle {
  color: white; 
  font-weight: bold;
  font-style: italic;
}

p {
  color: #1a1a1a;
  letter-spacing: 0.1em;
  margin-bottom: 0.75rem;
}

p.white {
  color: white;
  letter-spacing: 0.1em;
  margin-bottom: 0.75rem;
}

